/* 리셋 reset */
*{ margin: 0; padding:0; 
list-style: none; color:#333;
font-family: "맑은 고딕"; }

a{ color:inherit; text-decoration: none;}

button{ cursor: pointer;}

/* 리셋 끗 */

body { background-color: #fff; font:20px; }
.header{ width: 1366px; height: 70px; background-color: lemonchiffon;
        margin: 0 auto;}
.logo{ float: left; }
.menu{ float: left; }
.menu>ul{ margin-left: 200px; }
.menu>ul>li{ float: left; text-align: center;
width: 200px; height: 40px; line-height: 40px; margin-top: 30px; }

.menu>ul>li:hover{ background-color: lightblue; color: #14a; }
/* 
.menu>ul>li{ float: left; text-align: center;
    width: 200px; height: 40px; }
     */

   
.contents{ width: 1366px; height: 1200px;   ;
    margin: 0 auto;}

.imgslide{width: 1366px; height: 900px; overflow: hidden;}
.imgslide img{ width: 150%;}

.infos{ width: 1366px; height: 300px;}
.notice{padding: 30px 40px; float:left; width:  376px; height: 240px;}
.banner{padding: 30px 40px; float:left; width: 375px; height: 240px; 
    background-image: url('../assets/images/blueberry.jpg');}
.shortcut{padding: 30px 40px; float:left; width: 375px; height: 240px;
    background-image: url('../assets/images/straw.jpg');}
.info-txt{ margin:100px auto 0 auto; width: 280px ; height: 60px; background-color: lightcoral;
    text-align: center; line-height: 60px; font-weight:  600; color:#f2f2f2;}



footer{ width: 1366px; height: 100px; background-color: rgb(70, 70, 70);
    margin: 0 auto;}

.f-logo  { padding-top: 30px; float:left; width: 200px; height: 70px;
            text-align: center;}
/* .f-logo img{ width: ;} */
.r-info{ float:left; width: 1016px; height: 100px; }
.c-info{ width: 1016px; height: 70px; font-size: 12px;color: #ddd;}
.copy{ width: 1016px; height: 30px; font-size: 13px; color: #ddd;}

.sns{ float:left; width: 150px; height: 100px;}
.sns img{ width: 30px; margin-top: 30px; }